@model Lombiq.ChartJs.Samples.ViewModels.Sample.HistoryViewModel

<div>
    <form method="get">
        <fieldset class="form-group">
            <label asp-for="IncomeTag">@T["Income filter"]</label>
            <select asp-for="IncomeTag" class="form-control" onchange="this.form.submit()">
                <option value="">*</option>
                @foreach (var termId in Model.IncomeTerms.Keys)
                {
                    <option value="@termId">@Model.IncomeTerms[termId]</option>
                }
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label asp-for="ExpenseTag">@T["Expense filter"]</label>
            <select asp-for="ExpenseTag" class="form-control" onchange="this.form.submit()">
                <option value="">*</option>
                @foreach (var termId in Model.ExpenseTerms.Keys)
                {
                    <option value="@termId">@Model.ExpenseTerms[termId]</option>
                }
            </select>
        </fieldset>
    </form>
    <div style="position: relative; width: 600px; height: 300px">
        <chart type="line" labels="@Model.Labels" datasets="@Model.DataSets" options="@Model.Options"></chart>
    </div>
</div>
